body{
    border: 5px solid purple;
    font-family: sans-serif;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 1.6;
    font-size: 16px;
}

.heading{
    display: flex;
    justify-content: center;
    justify-content: space;
    align-items: flex-end;
}

.image-container{
    border-radius: 50%;
}

.image-container,img{
    padding-top: 1%;
    height: 300px;
    width: 400px;
}

.heading h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

h3{

    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.content{
    text-align: justify;
}

h5{
    font-size: 20px ;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

li::before{
 color: blueviolet;    
}

li{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: blueviolet;
}

a:hover{
    color:purple;
    cursor: pointer;  
 }

 footer{
    margin-top: 25px;
    margin-bottom: 40px;
 }
 .link{
   text-align: end;
 }